<form action="{{ path('like', {'item_id':item.id}) }}" method="post">
    {% set count = 0 %}
    {% for i in like %}
        {% set count = i.likeCount %}
    {% endfor %}
    <button type="submit" name="submit" class="btn btn-danger rounded-circle">Like {{ count }}</button>

</form>
