{% extends 'base.html.twig' %}
{% block title %}Item{% endblock %}

{% block body %}
    {{ item }}
    <div>
        <a href="{{ path('comment_new',{'id':item.id}) }}" class="btn btn-outline-dark">Add comment</a>
    </div>
    <div>
        {% include 'like/add.html.twig' with {
            'item': item,
            'like': like } only %}
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                {% include 'comment/list.html.twig' with {
                    'comments': comments} %}
            </div>
        </div>
    </div>
{% endblock %}