{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('form_login') }}" method="post">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="_username" value="{{ last_username }}"/>

    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="mb3">
        <button type="submit" class="btn btn-block btn-dark ">Login</button>
    </div>

</form>
{% endblock %}